/* index.css */
/* common */
*{
  box-sizing: content-box;
}
body{
  font-family: 'Montserrat', sans-serif;

}
a{
  text-decoration: none;
}
ul{
  padding: 0;
}
h1, h3{ 
  margin: 0; 
}

.container {
  margin: 0 auto;
	padding: 0px 15px;
	max-width: 1143px;
	
  -background-color: red;
}

/* header */
.header {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 25px;
}
.header-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  -flex-basis: 68.5%;
}

.header-logo {
  display: block;
  background-image: url(../images/logo.svg);
  width: 97px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 0.3s
}
.header-logo:hover{
  transform: scale(1.1);
}

.header-burger{
  width: 29px;
  height: 22px;
  margin-left: 57px;
  background-image: url(../images/burger.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  cursor: pointer;

  display: none;
}

.header-nav {
  display: flex;
  list-style-type: none;
  gap: 54px;
}
.header-nav a{
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #2B3541;
}
.header-nav a::after{
  content: '';
  height: 1px;
  background-color: transparent;
  transition: background-color 0.3s
}
.header-nav a:hover::after{
  background-color: #2B3541;
  display: block;
}

.header-item-social a{
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 0.3s;
}
.header-item-social a:hover{
  transform: scale(1.3);
}
.header-item-social-in{
  background-image: url(../images/in.svg);
}
.header-item-social-fb{
  background-image: url(../images/fb.svg);
  margin-left: 30px;
}

/* modal */
.modal{
  max-width: 587px;
  background-color: #F3F3F3;
  padding-top: 29px;

  position: absolute;
  top: -2400px;
  left: 0;
  right: 0;
  margin: 20px auto 0;

  transition: top 0.3s
}
.modal-content{
  padding: 0 10px;
  margin-bottom: 16px;
}
.modal-top-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.burger-close{
  width: 22px;
  height: 22px;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.modal .header-nav {
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin: 0;
  margin-bottom: 40px;
}
.modal .header-nav li:not(:last-child){
  width: 100%;
  border-bottom: 1px solid rgba(43, 53, 65, 0.2);
  padding-bottom: 20px;
}
.modal .header-nav li a{
  width: auto;
  display: inline-block;
}
.modal .header-item-social{
  display: flex;
  justify-content: flex-end;
}

.modal-shadow {
  display: none;
  background-color: rgba(43, 53, 65, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

/* banner */