/* index.about.css 
about-wraper
  about-title-block
    about-title
      about-title-head
      about-title-info
      about-title-subscribe
    about-visual
  about-infos-block
    about-info
      about-info-title
      about-info-text
    ...

*/
.about-wraper{
  margin-top: 152px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.about-title-block{
  display: flex;
  justify-content: space-between;
  gap: 77px;
}
.about-title{
  width: 581px;
  /* background-color: cadetblue; */
}
.about-title-head{
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #2B3541;
}
.about-title-info{
  margin-top: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #2B3541;
}
.about-title-subscribe{
  margin-top: 34px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2B3541;
  padding: 21px 51px;
}

.about-visual{
  width: 581px; height: 336px;
  background-image: url(../images/trainer.png);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */

  /* background-color: darkgrey; */
}
.event-item-gradient2 {
  width: 100%;
  height: 100%;
  background: linear-gradient( 180deg, rgb(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0) 100% );
  opacity: 0;
  transition: all var(--trt);
}
.about-visual:hover .event-item-gradient2{
  opacity: 1;
}

.about-infos-block{
  margin-top: 80px;
  display: flex;
  gap: 10px;

  /* background-color: gold; */
}
.about-info{
  width: 25%;
  color: #2B3541;
}
.about-info-title{
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
}
.about-info-text{
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.6;
}

/* 768 */
@media (max-width: 768px){
  .about-wraper {
    margin-top: 101px;
  }
  .about-title-block{
    gap: 36px;
  }
  .about-title{

  }
  .about-title-head{
    font-size: 26px;
    line-height: 32px;
  }
  .about-title-info{
    font-size: 16px;
    line-height: 150%;
  }
  .about-title-subscribe{
    font-size: 16px;
  }
  .about-visual {
    height: auto;
    height: 230px;
  }

  .about-infos-block{
    flex-wrap: wrap;
  }
  .about-info{
    width: 45%;
    flex-shrink: 0;
  }
  .about-infos-block{
    margin-top: 60px;
  }
  .about-info-title{
    font-size: 16px;
    line-height: 120%;
  }
  .about-info-text{
    font-size: 16px;
    line-height: 150%;
  }
}

/* 360px */
@media (max-width: 360px){
  .about-wraper{
    margin-top: 80px;
  }
  .about-title-block{

  }
  .about-title{

  }
  .about-title-head{
    font-size: 26px;
    line-height: 32px;
  }
  .about-title-info{

  }
  .about-title-subscribe{

  }
  .about-visual{
    display: none;
  }

  .about-info{
    width: 100%;
    max-width: 223px;
    flex-shrink: 0;
  }
  .about-infos-block{
    margin-top: 80px;
    display: flex;
    gap: 26px;
    /* background-color: gold; */
  }   
  .about-info-title{
    font-size: 16px;
    line-height: 120%;
  }
  .about-info-text{
    font-size: 16px;
    line-height: 150%;
  }

}