/* index.subscribe.css 
subscribe-back
  container
    subscribe-wraper
      subscribe-title
        subscribe-title-decor
        subscribe-title-text
      subscribe-form
        subscribe-form-item1
          subscribe-email
        subscribe-form-item2
          subscribe-submit yb-button
        subscribe-form-item3
          ubscribe-form-agree
            agree_check_box
            subscribe-agree-label
              agree
              span
                Согласен с обработкой
                a (персональных данных)
*/
.subscribe-back{
  margin-top: 160px;
  background: #F3F3F3;
}
.subscribe-wraper{
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 617px;

  /* background-color: lightskyblue; */
}
.subscribe-title{
  position: relative;
  text-align: center;
  color: #2B3541;
}


.subscribe-title-text{
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 40px;

}
.decore-place{
  position: relative;
}
.decore-place::before {
  content: "";
  position: absolute;
  width: 53px;  height: 53px;
  left: -32px;  top: -22px;
  border-radius: 50%;
  background-color: #FBF138;
  box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
  z-index: -1;
}

.subscribe-form{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.subscribe-form-item1{
  flex-basis: 372px;
  background-color: red;
  flex-shrink: 1;

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #2B3541;
}
.subscribe-email{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 26px;

  outline: none;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.subscribe-email:invalid{
  border: 2px solid #AE0303;
}
.subscribe-email:focus{
  border: 2px solid #FBF138;
}
#agree_check_box{
  display: none;
}


.subscribe-submit{
  padding: 20px 43px;
  box-sizing: border-box;
}

.subscribe-agree-label{
  display: flex;
  align-items: center;
}
.subscribe-agree-label .agree{
  width: 24px; height: 24px; display: inline-block;
  background-image: url(../images/check_box_empty.svg);
  background-size: cover;
  background-position: center;
  margin-right: 5px;
  flex-shrink: 0;
}
.subscribe-form-agree input:checked + label .agree{
  background-image: url(../images/check_box.svg);
}

.subscribe-agree-label span span{
  opacity: 0.5;

}
.subscribe-agree-label a {
  text-decoration: underline;
  color: #2B3541;
  opacity: 0.5;
}
.subscribe-agree-label a:hover{
  color: #2B3541;
  opacity: 1;
}


/* 768px */
@media (max-width: 768px){
  .subscribe-back {
    margin-top: 90px;
  }  
  .subscribe-wraper{
    padding-top: 54px;
    /* padding-left: 38px; */
    width: 340px;
    padding-bottom: 40px;
  }
  .subscribe-form {
    gap: 10px;
  }  
  .subscribe-form-item2{
    order: 3;
  }
  .subscribe-form-item1 {
    margin-top: 14px;
    flex-basis: 100%;
  }  
  .subscribe-form-item2{
    flex-basis:100%;
  }
  .subscribe-submit{
    width: 100%;
  }
  .subscribe-title-text{
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
  }
  
  .decore-place::before {
    width: 31px; height: 31px;
    left: -18px; top: -12px;
  }
  

  .subscribe-form-item3 span{
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    opacity: 0.5;    
  }
  .subscribe-form-item2{
    margin-top: 30px;
  }
}
/* 360px */
@media (max-width: 360px){
  .subscribe-back {
    margin-top: 80px;
  }  
  .subscribe-wraper{
    padding-top: 57px;
    width: 100%;
    padding-bottom: 40px;
  }
  
  .subscribe-title-text{
    display: inline;
  }
  .subscribe-form-item3{
    margin-top: 0px;
  }
  
}
