/* media.css */

/* ------------------------ @media (min-width: ???px) ------------------------ */
/* 320px — 480px: мобильные устройства; */

/* 481px — 768px: планшеты; */

/* 769px — 1024px: маленькие экраны, ноутбуки; */

/* 1025px — 1200px: большие экраны; */

/* 1201px и больше —  очень большие экраны, телевизоры. */

/* ------------------------ @media (max-width: ???px) ------------------------ */
/* 1201px и больше —  очень большие экраны, телевизоры. */

/* 1025px — 1200px: большие экраны; */
@media (max-width: 1050px){
  .header-nav {
    margin-left: 0px;
  }  
}

/* 769px — 1024px: маленькие экраны, ноутбуки; */
@media (max-width: 960px){
  .header-nav {
    gap: 30px;
  }
}
@media (max-width: 800px){
  .header-logo{
    width: 78px;
    height: 24px;
  }
  .header-item-nav{
    display: none;
  }
  .header-burger{
    display: block;
  }
  .header-item-social {
    margin-right: 4px;
  }
  .header-item-social a{
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-fb{
    margin-left: 20px;
  }
  .header-item-social-fb{
    margin-left: 20px;
  }
}

/* 481px — 768px: планшеты; */
@media (max-width: 590px){
  .modal{
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 520px){
  .container {
    padding: 0px 10px;
  }  
}

/* 320px — 480px: мобильные устройства; */


