/* media2.css */

/* ------------------------ @media (min-width: ???px) ------------------------ */
/* 320px — 480px: мобильные устройства; */

/* 481px — 768px: планшеты; */

/* 769px — 1024px: маленькие экраны, ноутбуки; */

/* 1025px — 1200px: большие экраны; */

/* 1201px и больше —  очень большие экраны, телевизоры. */

/* ------------------------ @media (max-width: ???px) ------------------------ */
/* 1201px и больше —  очень большие экраны, телевизоры. */

/* 1025px — 1200px: большие экраны; */
@media (max-width: 1220px){
  .girl {
    left: 22vw;
  }
  /* .girl {
    position: absolute;
    top: -12px;
    left: 328px;
    z-index: 5;
    width: 996;
  } */
  
}
@media (max-width: 1130px){
  .girl {
    /* width: 88vw; */
    height: 75vw;
  }
  .banner-content{
    height: 75vw;
  }  
}
@media (max-width: 1050px){
}

/* 769px — 1024px: маленькие экраны, ноутбуки; */
@media (max-width: 980px){
  .banner-content-block h1 {
    font-size: 45px;
  }  
}
@media (max-width: 960px){
  .banner-content {
    width: 590px;
  }
  .banner-content-block h1 {
    font-size: 36px;
  }
  .banner-subblock-text {
    margin-left: 11px;
  }
  .banner-content-block h3 {
    margin-left: -14px;
  }    
}
@media (max-width: 860px){
  .banner-subblock-text p {
    margin-bottom: 0px;
  }
}
@media (max-width: 800px){
  .girl{
    display: none;
  }
  .girl2 {
    display: block;
    position: absolute;
    bottom: -4px;
    right: 6px;
    height: 337.906px;
    /* z-index: 20; */
  }

  .banner-content {
    position: relative;
    /* width: 1143px; */
    /* background-color: red; */
    width: 359px;
    Height: 429px;
  }  
  .banner-content-block {
    margin-top: 35px;
    /* background-color: aqua; */
    color: #2B3541;
  }
  .banner-content-block h1 {
    font-size: 26px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;
  } 
  .banner-subblock-text{
    padding-right: 60px;
  }    
  .banner-content-block h3 {
    font-size: 26px;
    margin-left: -12px;
  }
  .banner-subblock-text p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 41px;
  }  
  .banner-subblock-text .yb-button{
    margin-left: -10px;
  }
  .banner .arrow {
    /* position: absolute;
    bottom: 11px; */
    width: 40px;
    height: 40px;
    bottom: 0px;
  }
}

/* 481px — 768px: планшеты; */
@media (max-width: 740px){
}
@media (max-width: 640px){
  .girl2 {
    right: -76px;
    bottom: 3px;
  }
}
@media (max-width: 590px){
}
@media (max-width: 520px){
  .banner-wraper{
    /* background-color: blueviolet; */
  }
  .banner{
    flex-wrap: wrap;
    width: 100%;
    /* background-color:coral */
  }
  .banner .arrow{
    display: none;
  }
  .banner-content {
    width: 100%;
    height: auto;
    /* margin-bottom: 120px; */
  }  
  .banner-content-block h1{
    letter-spacing: -1px;
    width: 350px;
  }
  .banner-subblock-text {
    padding-right: 0px;
    margin-left: 0px;
  }
  .banner-content-block h3 {
    margin-left: 0px;
  }  
  .banner-subblock-text .yb-button {
    width: 100%;
    margin-left: 0px;
  }
  /* ---------------- */
  .banner-visual {
    flex-basis: 100%;
    width: 100%;
    height: 82vw; /* height: 326px;  326px; */
  }
  .girl2 {
    /* display: none; */
    width: 100%;
    height: auto;
    left: 0;
    top: 0px;
  }
}

/* 320px — 480px: мобильные устройства; */


